.element__like {
    background-image: url(../../../images/heart.png);
    width: 22px;
    height: 19px;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0;
}

.element__like:active {
    background-image: url(../../../images/heartActive.png);
    width: 22px;
    height: 19px;
}