.element__like {
    background-image: url(../../../images/ElementLike.svg);
    width: 22px;
    height: 19px;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../../images/ElementLikeActive.svg);
    width: 22px;
    height: 19px;
}