.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}