.elements-container__elements {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 20px 17px;
    padding-top: 51px;
    padding-left: 0;
}

@media (max-width: 590px) {
    .elements-container__elements {
        padding-top: 36px;
    }
}