.popup__picture {
    max-width: 433px;
    max-height: 540px;
    border: 1px solid #000000;
    border-radius: 0px;
}

@media (max-width: 598px) {
    .popup__picture {
        max-width: 240px;
        max-height: 299px;
    }
}