.header {
    max-width: 100%;
    padding-bottom: 40px;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

@media (max-width: 590px) {
    .header {
        padding-bottom: 31px;
        max-width: 320px;
    }
}