.addbutton {
    background-color: black;
    background-image: url(../../images/Add\ Button.svg);
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    align-self: center;
    padding: 0;
}

@media (max-width: 900px) {
    .addbutton {
        width: 282px;
        background-image: url(../../images/AddButtonLarge.png);
    }
}