.profileinfo {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 16px 18px;
    align-self: center;
}

@media (max-width: 590px) {
    .profileinfo {
        gap: 14px 10px;
        padding-top: 26px; 
        padding-bottom: 36px;
    }
}