.profile__name {
    max-width: 516px;
    font-family: inherit;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    font-style: normal;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 590px) {
    .profile__name {
        max-width: 242px;
        font-style: normal;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}