.footer_centered {
    margin: 0 auto;
    max-width: 880px;
}

@media (max-width: 900px) {
    .footer_centered {
        max-width: 581px;
    }
}

@media (max-width: 598px) {
    .footer_centered {
        max-width: 282px;
    }
}